<!DOCTYPE html>
<html lang="th">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=1430, initial-scale=1">
    <title>Ask Me</title>
    <link href="libs/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link href="css/style.css" rel="stylesheet" />
    <link href="fonts/fas/css/font-awesome.min.css" rel="stylesheet" />
</head>
<body>
    <header class="navbar-fixed-top">
        <div class="logo">
            <img src="img/logo.png" width="50" />
            <span class="logo-text">ASK ME?</span>
        </div>
        <div class="user">
            <i class="fa fa-user"></i>
        </div>
    </header>
    <div class="container-fluid">
        <div class="main">
            <div class="row">
                <div class="sponsor sponsor-A">
                    โฆษณา 850 x 280
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <h1>ASK ME?</h1>
                    <p class="slogan">ทุกคำถามมีคำตอบ มาหาคำตอบไปกับเราได้ที่นี่</p>
                </div>
            </div>
        </div>
        <div class="category-list">
            <div class="category blue">
                <i class="fa fa-line-chart"></i>
                <span>การเงิน หุ้น และการลงทุน</span>
            </div>
            <div class="category green">
                <i class="fa fa-heartbeat"></i>
                <span>การแพทย์</span>
            </div>
            <div class="category yellow">
                <i class="fa fa-map-o"></i>
                <span>ท่องเที่ยว ที่กิน</span>
            </div>
            <div class="category red">
                <i class="fa fa-film"></i>
                <span>บรรเทิง ดนตรี ภาพยนต์</span>
            </div>
            <div class="category blue">
                <i class="fa fa-car"></i>
                <span>ยานยนต์</span>
            </div>
            <div class="category green">
                <i class="fa fa-star"></i>
                <span>แฟชั่น</span>
            </div>
            <div class="category yellow">
                <i class="fa fa-shopping-cart"></i>
                <span>ซื้อขาย ร้านค้า</span>
            </div>
            <div class="category red">
                <i class="fa fa-balance-scale"></i>
                <span>กฎหมาย</span>
            </div>
            <div class="category blue">
                <i class="fa fa-futbol-o"></i>
                <span>กีฬา</span>
            </div>
            <div class="category green">
                <i class="fa fa-graduation-cap"></i>
                <span>การศึกษา เทคโนโลยี</span>
            </div>
            <div class="category yellow">
                <i class="fa fa-gamepad"></i>
                <span>เกมส์ การ์ตูน</span>
            </div>
            <div class="category red">
                <i class="fa fa-book"></i>
                <span>หนังสือ นิยาย การอ่าน</span>
            </div>
            <div class="category">
                <i class="fa fa-university"></i>
                <span>บ้าน สวน ออกแบบ</span>
            </div>
            <div class="category">
                <i class="fa fa-hand-paper-o"></i>
                <span>D.I.Y</span>
            </div>
            <div class="category">
                <i class="fa fa-paw"></i>
                <span>สัตว์เลี้ยง</span>
            </div>
            <div class="category">
                <i class="fa fa-heart"></i>
                <span>ปรึกษาปัญหา กำลังใจ</span>
            </div>
            <div class="sponsor sponsor-B">
                โฆษณา 510 x 220
            </div>
        </div>

    </div>

    <footer>
        <div class="contact">
            <p class="contact-heaader">ติดต่อสอบถาม</p>
            <p><span class="contatc-label">โทรศัพท์:</span>  <i class="fa fa-mobile"></i> 080xxxxxxx</p>
            <p><span class="contatc-label">อีเมลล์:</span> <i class="fa fa-envelope-o"></i> abc@xyz.com</p>
        </div>
        <div class="copyright">

            <span class="copyright-text">Copyright <i class="fa fa-copyright"></i> 2016, by ASK ME.</span>
        </div>

    </footer>
    <script src="libs/jquery/dist/jquery.min.js"></script>
    <script src="libs/angular/angular.min.js"></script>
    <script src="libs/angular-cookies/angular-cookies.min.js"></script>
    <script src="js/ui.js"></script>
</body>
</html>