<!DOCTYPE html>
<html lang="th">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Ask Me</title>
    <link href="libs/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link href="css/style.css" rel="stylesheet" />
    <link href="css/responsive.css" rel="stylesheet" />
    <link href="fonts/fas/css/font-awesome.min.css" rel="stylesheet" />
</head>
<body>
    <header>
        <div class="logo">
            <img src="img/logo.png" width="50" />
            <span class="logo-text">ASK ME</span>
        </div>
        <div class="user">
            <i class="fa fa-user"></i>
        </div>
    </header>
    <div class="container-fluid">
        <div class="row">
            <div class="ads ads-1">
                โฆษณาได้ที่นี่
            </div>
        </div>
    </div>
    <div class="container content">
        <div class="row">
            <div class="col-md-12">
                <h1>ASK ME</h1>
                <p class="slogan">ทุกคำถามมีคำตอบ มาหาคำตอบไปกับเราได้ที่นี่</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 forum">
                <h2><i class="fa fa-laptop"></i> <span>เลือกหมวดหมู่ที่สนใจ</span></h2>
            </div>
            
            <div class="col-xs-2">
                <div class="category">
                    <i class="fa fa-line-chart"></i>
                    <span>การเงิน หุ้น และการลงทุน</span>
                </div>            </div>
            <div class="col-xs-2">
                <div class="category">
                    <i class="fa fa-heartbeat"></i>
                    <span>การแพทย์</span>
                </div>
            </div>
            <div class="col-xs-2">
                <div class="category">
                    <i class="fa fa-map-o"></i>
                    <span>ท่องเที่ยว ที่กิน</span>
                </div>
            </div>
            <div class="col-xs-2">
                <div class="category">
                    <i class="fa fa-film"></i>
                    <span>บรรเทิง ดนตรี ภาพยนต์</span>
                </div>
            </div>
            <div class="col-xs-2">
                <div class="category">
                    <i class="fa fa-car"></i>
                    <span>ยานยนต์</span>
                </div>
            </div>
            <div class="col-xs-2">
                <div class="category">
                    <i class="fa fa-star"></i>
                    <span>แฟชั่น</span>
                </div>
            </div>
            <div class="col-xs-2">
                <div class="category">
                    <i class="fa fa-shopping-cart"></i>
                    <span>ซื้อขาย ร้านค้า</span>
                </div>
            </div>
            <div class="col-xs-2">
                <div class="category">
                    <i class="fa fa-balance-scale"></i>
                    <span>กฎหมาย</span>
                </div>
            </div>
            <div class="col-xs-2">
                <div class="category">
                    <i class="fa fa-futbol-o"></i>
                    <span>กีฬา</span>
                </div>
            </div>
            <div class="col-xs-2">
                <div class="category">
                    <i class="fa fa-graduation-cap"></i>
                    <span>การศึกษา เทคโนโลยี</span>
                </div>
            </div>
            <div class="col-xs-2">
                <div class="category">
                    <i class="fa fa-gamepad"></i>
                    <span>เกมส์ การ์ตูน</span>
                </div>
            </div>
            <div class="col-xs-2">
                <div class="category">
                    <i class="fa fa-book"></i>
                    <span>หนังสือ นิยาย การอ่าน</span>
                </div>
            </div>
            <div class="col-xs-2">
                <div class="category">
                    <i class="fa fa-university"></i>
                    <span>บ้าน สวน ออกแบบ</span>
                </div>
            </div>
            <div class="col-xs-2">
                <div class="category">
                    <i class="fa fa-hand-paper-o"></i>
                    <span>D.I.Y</span>
                </div>
            </div>
            <div class="col-xs-2">
                <div class="category">
                    <i class="fa fa-paw"></i>
                    <span>สัตว์เลี้ยง</span>
                </div>
            </div>
            <div class="col-xs-2">
                <div class="category">
                    <i class="fa fa-heart"></i>
                    <span>ปรึกษาปัญหา กำลังใจ</span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 forum">
                <h2><i class="fa fa-bars"></i> <span>คำถามล่าสุด</span></h2>
                <ul>
                    <li>                    
                        <a href="#">
                            <i class="fa fa-paw"></i>
                            <div class="topic">
                                <span class="topic-name">น้องหมาไม่กินข้าวมาสามวันแล้วครับทำยังไงดี</span>
                                <span class="ans-count">จำนวนคนตอบ: </span>
                            </div>
                            
                            <div class="info">
                                <span>
                                    <label>โดย: </label>
                                </span>
                                <span>
                                    <label>เวลา: </label>
                                </span>
                                
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-heart"></i> <span class="topic-name">เวียนหัวใจสั้น เหมือนไม่มีแรงบ่อยมาก แบบนี้เรียกน้ำตาลในเลือดต่ำหรือเปล่าครับ</span></a>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-book"></i> <span class="topic-name">นิยายเรื่อง แฮรี่พอตเตอร์ สนุกมั้ยคะ</span></a>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-gamepad"></i> <span class="topic-name">ช่วงนี้เกมส์ไหนกำลังฮิตครับ แนะนำที</span></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <footer>
        <div class="contact">
            <p class="contact-heaader">ติดต่อสอบถาม</p>
            <p><span class="contatc-label">โทรศัพท์:</span>  <i class="fa fa-mobile"></i> 080xxxxxxx</p>
            <p><span class="contatc-label">อีเมลล์:</span> <i class="fa fa-envelope-o"></i> abc@xyz.com</p>
        </div>
        <div class="copyright">
            <span class="copyright-text">Copyright <i class="fa fa-copyright"></i> 2016, by ASK ME.</span>
        </div>
    </footer>
    <script src="libs/jquery/dist/jquery.min.js"></script>
    <script src="libs/angular/angular.min.js"></script>
    <script src="libs/angular-cookies/angular-cookies.min.js"></script>
    <script src="js/ui.js"></script>
</body>
</html>