@font-face {
  font-family: 'WDB_Bangna';
  src: url('/fonts/WDB_Bangna.ttf');
}
@font-face {
  font-family: 'thaisanalite';
  src: url('/fonts/thaisanslite_r1.ttf');
}
* {
    -webkit-font-smoothing: antialiased;
}
@font-face {
    font-family: gotham-light;
    src: url("/fonts/gotham-light.ttf")
}
@font-face {
    font-family: gotham-med;
    src: url("/fonts/gotham-med.ttf")
}
@font-face {
    font-family: gotham-reg;
    src: url("/fonts/gotham-reg.ttf")
}
body {
    width:100%;
    padding:0;
    margin:0;
    font-size:24px;
    font-family: 'thaisanalite';
    background:#335070;
    color:#eee;
    min-width:1430px;
}
h1 {
    font-size: 80px;
    font-family: gotham-light;
    text-shadow: 1px 1px 1px #222;
}
.category {
    display: inline-block;
    width: 120px;
    border-radius: 2%;
    background:#335070;
    height: 120px;
    margin-top:10px;
    margin-left: 10px;
    box-shadow: 1px 1px 10px #333;
    cursor:pointer;
    float: left;
    padding: 15px 10px;
    text-align: center;
    line-height: 1;
    font-size: 22px;
}
.category .fa {
    display:block;
    font-size: 30px;
}
.category span {
    margin-top:10px;
    display:inline-block;
}

.main {
    padding-bottom:150px;
    margin-top:55px;
    min-height:850px;
    margin-right: 0;
    margin-left: 0;
    float:left; 
}
header {
    background:rgba(6,40,61,0.8);
    height: 70px;
    width:100%;
    color:#fff;
    padding: 8px 20px
}
header p {
   font-size: 35px;
   text-shadow:1px 1px 10px #222;
   margin-top: 5px;
   padding: 0 20px;
}
footer {
    background-color:#282F39;
    height: 150px;
    width:100%;
    color:#fff;
    padding: 20px 20px;
}
footer .contact {
    float:right;
    width:270px;
    font-size:20px;
}
footer .contact .fa {
    font-size:20px;
    margin: 0 5px;
}
footer .contact .fa-mobile {
    font-size:25px;
}
.contatc-label {
    width:50px;
    display:inline-block;
}
.contact-header {
    font-size:25px;
}
.category-list .col-md-3 {
    text-align:center;
}
.category.blue {
    background:rgb(49,138,160);
}
.category.green {
    background:rgb(116,170,74);
}
.category.yellow {
    background:rgb(100,230,60);
}
.category.red {
    background:rgb(190,32,45);
}
.logo {
    font-family: gotham-med;
    color: #405070;
    display:inline-block;
}
.logo img {
    width:50px;
}
.logo .logo-text {
    position: relative;
    top: 3px;
    text-shadow: 2px 2px 15px #222;
}
.category-list {
    width: 550px;
    float:right;
    margin-top: 75px;
}
.user {
    float:right;
    position: relative;
    top: 6px;
    text-shadow: 2px 2px 15px #222;
    color: #405070;
    cursor:pointer;
}
.copyright {
    float:left;
    top: 40px;
    position:relative;
}
.copyright .fa {
    position:relative;
    top:2px;
}
.copyright-text {
    position:relative;
    font-size: 25px;
    font-style:italic;
}
.contact-heaader {
    font-size: 28px;
}
.sponsor {
    float:left;
    margin-left:10px;
    margin-top:30px;
    box-shadow: 1px 1px 10px #333;
    background: #335070;
    text-align:center;
    font-size:50px;
    padding-top:60px;
    text-shadow: 1px 1px 1px #222;
}
.slogan {
    font-size:30px;
    text-shadow: 1px 1px 1px #222;
}
.sponsor-A {
    padding-top:80px;
    width: 850px;
    height: 280px;
}
.sponsor-B {
    padding-top:60px;
    padding-top:60px;
    width: 510px;
    height:220px;
}
